node_modules/
cache/

# Track deployments on aurora
.openzeppelin/unknown-*.json
!.openzeppelin/unknown-1313161554.json

*/.DS_Store/

# Track AzulNFT abi
# https://stackoverflow.com/a/16318111/4950797
artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/AzulNFT.sol
artifacts/contracts/AzulNFT.sol/*
!artifacts/contracts/AzulNFT.sol/AzulNFT.json

# Secrets
.env
passcodes
